#exposeAngularQuerySpecific()
#foreach($column in $inputBean.columns)
#putColumnParams()
#columnJavaNaming()
#if($columnUtils.isLink($column))
#set($queryId =$column.queryParamLink.queryName)
#set($fieldKey =$column.queryParamLink.fieldKey)
#set($fieldName =$column.queryParamLink.fieldName)
#exposeQueryTarget()
#set($columnText = $queryUtils.getColumnTextVariable($targetQuery, $fieldName))
#set($columnValue = $queryUtils.getColumnValueVariable($targetQuery, $fieldKey))
#set($isMasterData= $queryUtils.isAdminContentType($targetQuery))
#set($isAutocompletion = $queryParamLinkUtils.isAutocompletion($column.queryParamLink))
##if ($isAutocompletion)

	<PowerSelect
			@searchEnabled={{true}}
			@search={{this.${columnVar}Search}}
			@selected={{this.${columnVar}selected}}
			@onChange={{fn (mut this.selected)}} as |repo|>
		{{repo.name}}
	</PowerSelect>
	(It might fail if the API limit is exceeded)
##end
#end

	<div>
		<label for="hero-$columnVar">$columnVar: </label>
		<input id="hero-$columnVar" [(ngModel)]="${sddInputBeanVariable}.$columnVar" placeholder="name">
	</div>

#end


<button id="sitemap-btn" (click)="${sddOutputBeanVariable}()">Show Entities</button>


<h2>Results <span class="badge badge-dark" >{{entities.length}}</span></h2>
<table class="table table-condensed">
	<thead>
		<tr>
#foreach($column in $outputBean.columns)
#if (!$column.hasBeenDuplicated())
#putColumnParams()
#columnJavaNaming()
			<th>
			   $columnVar
			</th>
#end
#end
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of entities">
#foreach($column in $outputBean.columns)
			<td>
#if (!$column.hasBeenDuplicated())
#putColumnParams()
#columnJavaNaming()
#if (!$column.getSeparatorCharacters())
				{{item.$columnVar}}
#else
#foreach($field in $column.structuredArray)
#set($fieldType = $convertUtils.getJavaTypeFromDBType($convertUtils.getDBFullTypeFromUMLType($field.type)))
#set($fieldClass = $commonUtils.getJavaClassName($field.name))
#set($fieldVar = $commonUtils.getJavaVariableName($field.name))
<div *ngFor="let $columnVar of item.$columnVar">
				{{$columnVar.$fieldVar}}
</div>
#end
#end
#end
			</td>
#end
		</tr>
	</tbody>
</table>
