#exposeMaven()
#set($springdataImplementation=$springUtils.getJsfImplementation($template))
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

#generatorSpecific()
#exposeApplicationSpecific()
#exposeSpringBootModelSpecific()
#if($configuration.isSingleModel())
    <groupId>${rootPackage}.${model.name}</groupId>
    <artifactId>${model.name}SpringData</artifactId>
#else
    <groupId>${rootPackage}.${application.name}</groupId>
    <artifactId>${application.name}SpringData</artifactId>
#end
    <version>${version}</version>
    <packaging>jar</packaging>

    <name>$DbApiName Spring Data JPA generated API</name>
    <description>$DbApiName Spring Data JPA generated API</description>

    <properties>
        <spring.version>3.0.5.RELEASE</spring.version>
        <jpa.version>2.0.0</jpa.version>
        <junit.version>4.8</junit.version>
        <hibernate.version>3.5.6-Final</hibernate.version>
        <slf4j.version>1.6.1</slf4j.version>
        <aspectj.version>1.6.8</aspectj.version>
        <jodatime.version>1.5.2</jodatime.version>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    </properties>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>2.3</version>
                <configuration>
                    <source>1.8</source>
                    <target>1.8</target>
                </configuration>
            </plugin>
        </plugins>
    </build>

    <dependencies>

        <dependency>
#if($configuration.isSingleModel())
            <groupId>${rootPackage}.${model.name}</groupId>
#else
            <groupId>${rootPackage}.${application.name}</groupId>
#end
            <artifactId>$DbApiName</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.springframework.data</groupId>
            <artifactId>spring-data-jpa</artifactId>
            <version>2.7.18</version>
        </dependency>

    </dependencies>

</project>
