#generatorSpecific()
#exposeMaven()
#exposeMavenCommonDependencies()
#exposeVariableModelSpecific()
##<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>	
    <groupId>${groupId}</groupId>
    <artifactId>$artifactId</artifactId>
    <version>${version}</version>
    <name>$artifactId App</name>
    <packaging>pom</packaging>	
	<description>${generatorBean.name} Application</description>

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.7.18</version>
	</parent>

	<modules>
#exposeModelUpdatedAreas("modules")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else		
#foreach ($module in $mavenUtils.getModules($template))	
		<module>$module.name</module>
#end
#end
$!updatedAreaEnd
	</modules>

	<properties>
#putRESTDependencyVersions()
#if($swagger4angular)
		<openapi-generator-maven-plugin.version>6.0.1</openapi-generator-maven-plugin.version>
#end
	</properties>
	
	<dependencyManagement>
		<dependencies>

			<!--jdk 11 ee removed packages-->
			<!-- API, java.xml.bind module -->
			<dependency>
				<groupId>jakarta.xml.bind</groupId>
				<artifactId>jakarta.xml.bind-api</artifactId>
				<version>${jakarta.xml.bind-api.version}</version>
			</dependency>

			<!-- Runtime, com.sun.xml.bind module -->
			<dependency>
				<groupId>org.glassfish.jaxb</groupId>
				<artifactId>jaxb-runtime</artifactId>
				<version>${jaxb-runtime.version}</version>
			</dependency>

			<dependency>
				<groupId>org.projectlombok</groupId>
				<artifactId>lombok</artifactId>
				<version>${lombok.version}</version>
				<scope>provided</scope>
			</dependency>

	        <dependency>
	            <groupId>junit</groupId>
	            <artifactId>junit</artifactId>
	            <version>${junit.version}</version>
	            <scope>test</scope>
	        </dependency>

			<dependency>
				<groupId>org.hamcrest</groupId>
				<artifactId>hamcrest-all</artifactId>
				<version>1.3</version>
				<scope>test</scope>
			</dependency>

	        <dependency>
	            <groupId>org.powermock</groupId>
	            <artifactId>powermock-module-junit4</artifactId>
	            <version>${powermock.version}</version>
	            <scope>test</scope>
	        </dependency>
        
	        <dependency>
	            <groupId>org.powermock</groupId>
	            <artifactId>powermock-api-mockito</artifactId>
	            <version>${powermock.version}</version>
	            <scope>test</scope>
	        </dependency>
        
		</dependencies>
	</dependencyManagement>
	
#addArea("custom-maven-nodes")
	<build>
		<pluginManagement>
			<plugins>
#exposeCompilerPlugin()
#exposeJacocoPluginDep()
				<plugin>
					<groupId>org.apache.maven.plugins</groupId>
					<artifactId>maven-enforcer-plugin</artifactId>
					<version>3.1.0</version>
					<executions>
						<execution>
							<id>enforce-versions</id>
							<goals>
								<goal>enforce</goal>
							</goals>
							<configuration>
								<rules>
									<banDuplicatePomDependencyVersions/>
								</rules>
							</configuration>
						</execution>
					</executions>
				</plugin>
				<plugin>
					<groupId>org.openrewrite.maven</groupId>
					<artifactId>rewrite-maven-plugin</artifactId>
					<version>6.6.1</version>
					<configuration>
						<exportDatatables>true</exportDatatables>
						<activeRecipes>
							<recipe>org.openrewrite.java.RemoveUnusedImports</recipe>
						</activeRecipes>
					</configuration>
				</plugin>
#if($swagger4angular)
				<plugin>
					<groupId>org.openapitools</groupId>
					<artifactId>openapi-generator-maven-plugin</artifactId>
					<version>${openapi-generator-maven-plugin.version}</version>
					<executions>
						<execution>
							<goals>
								<goal>generate</goal>
							</goals>
							<configuration>
								<inputSpec>${project.basedir}/src/main/resources/openapi.json</inputSpec>
								<generatorName>typescript-angular</generatorName>
								<output>${project.build.directory}/generated-sources/openapi</output>
								<configOptions>
									<ngVersion>13.0.0</ngVersion>
								</configOptions>
							</configuration>
						</execution>
					</executions>
				</plugin>
#end
			</plugins>
		</pluginManagement>
	</build>
</project>
