_____________________________________________
|
|  Application: ${application.title}
##|  Version: ${parsedVersion.majorVersion}          - ${project.version}
##|  Build Time: ${build.time}
|____________________________________________
