#macro(springdataspecification)
		Specification<$tableClassName> spec = Specification.where(null);
#foreach($column in $tableUtils.getSearchableColumns($table))
#putColumnParamNaming()
		if ($columnVar != null) {
			spec = spec.and(${entitySpecificationsClass}.has${columnClass}($columnVar));
		}
#end
#end
#exposeSpringDomainObjectSpecific()
#exposeRESTURLServer()
#exposeSpringdataModelSpecific()
package $packageName;

$!updatedAreaImport
import java.util.Date;
import java.util.List;
import java.util.ArrayList;
import java.io.*;
import java.sql.*;

import java.io.IOException;
import javax.servlet.http.*;
import java.util.ArrayList;
import java.util.List;
import java.util.Objects;
import java.util.Optional;
import java.util.stream.Stream;
import java.util.stream.Collectors;

import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.media.Schema;

import org.apache.commons.lang3.StringUtils;

import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Controller;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.web.bind.annotation.*;
import org.springframework.http.ResponseEntity;
import org.springframework.http.HttpHeaders;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.server.ResponseStatusException;

import org.springframework.data.jpa.domain.Specification;

import $entityRepositoryImport;
import $importDomainObjectUML;
import $entitySpecificationsImport;

#set($ordering=$orderingUtils.getFirstOrdering($table))
#set($column=$ordering.column)
#set($order=$formatUtils.lowerCase(${ordering.order.toString()}))
#putColumnParamNaming()
#set($orderColumn = $column)
#set($orderColumnVar = $columnVar)
#set($hasOrdering=$table.orderings.size()>0)

/**
*
* <p>Title: ${className}</p>
*
* <p>Description: class for ${className} REST endpoint </p>
*
*/
@RequestMapping ("/entity/${tableVariableName}")
@Controller
@Slf4j
@AllArgsConstructor
@Tag(name = "${className} API", description = "${className} API")
public class ${className} {

	${entityRepositoryClass} $entityRepositoryVariable;

	@RequestMapping(value = "/{$primaryKeyVariable}", method = RequestMethod.GET)
	@ResponseBody
    public ResponseEntity<$tableClassName> findById (@PathVariable ("$primaryKeyVariable") $primaryKeyFullType $primaryKeyVariable) {
		$tableClassName entity = ${entityRepositoryVariable}.findById($primaryKeyVariable)
			.orElseThrow(() -> new ResponseStatusException(HttpStatus.NOT_FOUND));
		return ResponseEntity.ok(entity);
    }
## TODO semantic search
## TODO search by prototype/example

	@GetMapping
	@ResponseBody
#if ($tableUtils.isLiveBusinessDataContentType($table))
	public ResponseEntity<Page<$tableClassName>> findAllBy (
#foreach($column in $tableUtils.getSearchableColumns($table))
#putColumnParamNaming()
		#if($velocityCount>1),#end @RequestParam(value="$columnVar", required = false) $columnType $columnVar
#end
		#if($tableUtils.getSearchableColumns($table).size()>0) , #end @RequestParam(defaultValue = "0", required = false) int _page
		,@RequestParam(defaultValue = "10", required = false) int _size
#foreach($ordering in $table.orderings)
#set($column=$ordering.column)
#set($order=$formatUtils.lowerCase(${ordering.order.toString()}))
#putColumnParamNaming()
		,@RequestParam(required = false) ${className}Order _order_${velocityCount}
		,@RequestParam(required = false) Order _order_${velocityCount}_direction
#end
	) {
#springdataspecification()
#if ($hasOrdering)
		final List<Sort> sorts = Stream.of(
#foreach($ordering in $table.orderings)
			getSort(_order_${velocityCount}, _order_${velocityCount}_direction)#if($velocityCount!=${table.orderings.size()}), #end

#end
			)
			.filter(Optional::isPresent)
			.map(Optional::get)
			.collect(Collectors.toList());
		Sort sort = getSort(sorts);
		Pageable pageable = PageRequest.of(_page, _size, sort);
#else
		Pageable pageable = PageRequest.of(_page, _size);
#end
		Page<$tableClassName> page = ${entityRepositoryVariable}.findAll(spec, pageable);
		return ResponseEntity.ok(page);
	}
#else
	public ResponseEntity<List<$tableClassName>> findAllBy (
#foreach($column in $tableUtils.getSearchableColumns($table))
#putColumnParamNaming()
		#if($velocityCount>1),#end @RequestParam(value="$columnVar", required = false) $columnType $columnVar
#end
	) {
#springdataspecification()
		List<$tableClassName> list = ${entityRepositoryVariable}.findAll(spec);
		return ResponseEntity.ok(list);
	}
#end

#if ($hasOrdering)
	@Schema(description = "Sort column for ${className}", enumAsRef = true)
	public enum ${className}Order {
#foreach($ordering in $table.orderings)
#set($column=$ordering.column)
#putColumnParamNaming()
		${columnVar},
#end
	}

	//TODO set globally
	private Optional<Sort> getSort(${className}Order column, Order order) {
		if (Objects.isNull(column) || Objects.isNull(order)) {
			return Optional.empty();
		} else {
			Sort sort = order==Order.ASC?Sort.by(column.name()).ascending():Sort.by(column.name()).descending();
			return Optional.of(sort);
		}
	}

	private Sort getSort(List<Sort> sorts) {
		//Sort is immutable thus this implementation is not generic but limited to the 3 first orderings
		if (sorts.size()==1) {
			return sorts.get(0);
		} else if (sorts.size()==2) {
			Sort first = sorts.get(0);
			Sort second = sorts.get(1);
			return first.and(second);
		} else if (sorts.size()>=3) {
			Sort first = sorts.get(0);
			Sort second = sorts.get(1);
			Sort third = sorts.get(2);
			return first.and(second).and(third);
		}
		return Sort.unsorted();
	}

	public enum Order {
		ASC, DESC;
	}
#end

}
