#macro (logBackModelConfig)
#set($useDBAppender = $template.isPropertyOfValue("logback-use-DB-appender","true",false)))
    <appender name="fout-${model.name}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Specify the log file location -->
        <file>logs/${model.name}.log</file>

        <!-- Define the rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- log file will be archived in logs directory with pattern logs/my.%d{yyyy-MM-dd}.%i.log.zip -->
            <fileNamePattern>logs/${model.name}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- Archive files will be removed after 30 days -->
            <maxHistory>30</maxHistory>
            <!-- Maximum file size before rolling over -->
            <maxFileSize>50MB</maxFileSize>
            <!-- Total size of logs before older archives are removed -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

#if ($useDBAppender)
#set ($datasource = $model.dataModel.basicDataSource)
#exposeJdbc()
    <appender name="DB-${model.name}" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
            #if(!$isTomcatTargetServer)
                <jndiLocation>java:comp/env/jdbc/${model.name}DS</jndiLocation>
            #else
                <jndiLocation>jdbc/${model.name}DS</jndiLocation>
            #end
        </connectionSource>
    </appender>

    <appender name="ASYNC-${model.name}" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DB-${model.name}" />
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" >
        <appender-ref ref="fout-${model.name}"/>
    </logger>
#end
#exposeSpringBootTemplate()
#set($rootPackage=$modelUtils.getPackageRoot($template, $templateSpringBootApplication))
    <logger name="${rootPackage}.${model.name}" level="INFO">
        <appender-ref ref="fout-${model.name}"/>
#if ($useDBAppender)
        <appender-ref ref="ASYNC-${model.name}"/>
#end
    </logger>
#end
#exposeVariableModelSpecific()
#generatorSpecific()
#exposeApplicationSpecific()
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
#if($configuration.isSingleModel())
#logBackModelConfig()
#else
#foreach ($model in $application.getModels())
#logBackModelConfig()
#end
#end
    <!-- -->
    <root level="ERROR">
        <appender-ref ref="console"/>
    </root>

</configuration>
