#exposeQuerySpecific()
#putQueryCommons()
#exposeSDDSpring()
#exposeRESTSDDURLServer()
#putImportQuerySDDBeanV2()
#exposeSpringBootQuerySpecific()
#exposeSpringLoggingModelSpecific()
#addedAreas()
package $packageName;

$!updatedAreaImport
import java.util.Date;
import java.util.List;

import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.media.Schema;

import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import org.springframework.format.annotation.DateTimeFormat;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.*;
import org.springframework.http.ResponseEntity;
import org.springframework.security.access.prepost.PreAuthorize;

import $springBootJdbcTemplateRepositoryImport;
import $sddOutputBeanImport;
#if($isNotVoidInput)
import $sddInputBeanImport;
#end
#if($queryUtils.isCache($query))
import org.springframework.http.CacheControl;
import java.util.concurrent.TimeUnit;
#end
import $auditLoggingAnnotationImport;
#if ($queryUtils.hasImplicitContextUserLogin($query))
import org.springframework.security.core.context.SecurityContextHolder;
import org.springframework.security.core.userdetails.UserDetails;
#end

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: class for ${className} service </p>
 *
 */
@RequestMapping ("/sdd/${queryVariableName}")
@Controller
@Slf4j
@AllArgsConstructor
#set($packName = $formatUtils.firstUpperCase($query.package.name))
@Tag(name = "${packName}")
#if ($query.querySecurity)
#if ($query.querySecurity.querySecurityRole)
@PreAuthorize("hasAuthority('$query.querySecurity.querySecurityRole.roles')")
#end
#end
public class ${className} {

    private ${springBootJdbcTemplateRepositoryClass} $springBootJdbcTemplateRepositoryVariable;

#if ($query.isWrite())
    @PostMapping
#else
    @GetMapping
#end
    @Operation(summary = "$queryUtils.getOperationSummary($query)")
	@ResponseBody
    @${auditLoggingAnnotationClass} (logLevel="INFO")
    public ResponseEntity<List<$sddOutputBeanClass>> execute (
#set ($columnsNotDuplicatedNorImplicit = $tableUtils.getColumnsNotDuplicatedNorImplicitNorOutputOnly($inputBean))
#set ($size = $columnsNotDuplicatedNorImplicit.size())
#foreach($column in $columnsNotDuplicatedNorImplicit)
#putColumnParamNaming()
#if($columnUtils.isTimeStampColumn($column))
        @DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
#elseif($columnUtils.isTimeStampColumn($column))
        @DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME)
#elseif ($columnUtils.isTimeColumn($column))
        @DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME)
#end
#set($hasCheckConstraint=$columnUtils.hasCheckConstraint($column))
#set($isArray=$column.isArray())
#set($targetQuery=$columnUtils.getLinkedQueryMasterdataEnum($model, $column))
#if ($columnUtils.isLink($column) && $targetQuery)
#exposeSDDMasterDataEnum($targetQuery)
        @RequestParam (value="$columnVar", required =#if($isMandatory)true #else false#end)#if(!$column.isArray())$masterDataEnumImport#else List<$masterDataEnumImport>#end $columnVar #if($velocityCount!=$size),
#end
#else
        @RequestParam (value="$columnVar", required =#if($isMandatory)true #else false#end)#if ($hasCheckConstraint) #if($isArray) List<${sddInputBeanClass}.${columnClass}Enum> #else ${sddInputBeanClass}.${columnClass}Enum#end#else $columnType#end $columnVar #if($velocityCount!=$size),
#end
#end
#end
#foreach($queryChunk in $query.getQueryChunks())
#set($chunkClass=$formatUtils.getJavaName($queryChunk.name))
#set($chunkVar=$commonUtils.getJavaNameVariableFirstLetter($chunkClass))
#if(!$isNotVoidInput && $velocityCount==1)
        @RequestParam (value="$chunkVar", required = false) String $chunkVar
#else
        ,@RequestParam (value="$chunkVar", required = false) String $chunkVar
#end
#end
    ) {
#if($isNotVoidInput)
		$sddInputBeanClass $sddInputBeanVariable = new $sddInputBeanClass ();
#if ($queryUtils.hasImplicitContextUserLogin($query))
        // Get the connected user's login from the Spring Security context
        String _userLogin = ((UserDetails) SecurityContextHolder.getContext()
                .getAuthentication().getPrincipal()).getUsername();
#set($column=$queryUtils.getImplicitContextUserLogin($query))
#putColumnParamNaming()
        ${sddInputBeanVariable}.set$columnClass (_userLogin);
#end
#foreach($column in $columnsNotDuplicatedNorImplicit)
#putColumnParamNaming()
		${sddInputBeanVariable}.set$columnClass ($columnVar);
#end
#end
        List<$sddOutputBeanClass> list = ${springBootJdbcTemplateRepositoryVariable}.execute
            (
#if($isNotVoidInput)
                ${sddInputBeanVariable}
#end
#foreach($queryChunk in $query.getQueryChunks())
#set($chunkClass=$formatUtils.getJavaName($queryChunk.name))
#set($chunkVar=$commonUtils.getJavaNameVariableFirstLetter($chunkClass))
#if(!$isNotVoidInput && $velocityCount==1)
                $chunkVar
#else
                ,$chunkVar
#end
#end
            );
        return ResponseEntity.ok()
#if(!$query.isWrite() &&$queryUtils.isCache($query))
            .cacheControl(CacheControl.maxAge(1, TimeUnit.HOURS).cachePublic())
#end
            .body(list);
    }

}
