#exposeQuerySpecific()
#putQueryCommons()
#exposeSDDSpring()
#exposeRESTSDDURLServer()
#putImportQuerySDDBeanV2()
#exposeSpringBootQuerySpecific()
#addedAreas()
#set ($size = $inputBean.columns.size())
package $packageName;

$!updatedAreaImport
import java.util.Date;
import java.util.List;
import java.util.ArrayList;
import java.io.*;
import java.sql.*;

import java.io.IOException;
import javax.servlet.http.*;
import java.util.List;
import java.util.ArrayList;

import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.tags.Tag;

import org.apache.commons.lang3.StringUtils;

import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Controller;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.web.bind.annotation.*;
import org.springframework.http.ResponseEntity;
import org.springframework.http.HttpHeaders;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;

import $springBootJdbcTemplateRepositoryImport;
import $sddOutputBeanImport;
#if($isNotVoidInput)
import $sddInputBeanImport;
#end
##TODO remove import $sddDaoInterfaceImport;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: class for ${className} service </p>
 *
 */
@RequestMapping ("/sdd/${queryVariableName}")
@Controller
@Slf4j
@AllArgsConstructor
@Tag(name = "${className} API", description = "${className} API")
public class ${className} {

    private ${springBootJdbcTemplateRepositoryClass} $springBootJdbcTemplateRepositoryVariable;

    @GetMapping
    @Operation(summary = "${className}")
#* when set does not provide the schema
    @ApiResponses(value = {
        @ApiResponse(responseCode = "200", description = "$queryVariableName", content = {@Content(mediaType = MediaType.APPLICATION_JSON_VALUE)}),
        @ApiResponse(responseCode = "500", description = "Error while handling request", content = @Content)
        })
*#
	@ResponseBody
    public ResponseEntity<List<$sddOutputBeanClass>> execute (
#foreach($column in $inputBean.columns)
#putColumnParamNaming()
        @RequestParam ("$columnVar") $columnType $columnVar #if($velocityCount!=$size),
#end
#end
#foreach($queryChunk in $query.getQueryChunks())
#set($chunkClass=$formatUtils.getJavaName($queryChunk.name))
#set($chunkVar=$commonUtils.getJavaNameVariableFirstLetter($chunkClass))
#if(!$isNotVoidInput && $velocityCount==1)
        @RequestParam ("$chunkVar") String $chunkVar
#else
        ,@RequestParam ("$chunkVar") String $chunkVar
#end
#end
    ) {
#if($isNotVoidInput)
		$sddInputBeanClass $sddInputBeanVariable = new $sddInputBeanClass ();
#foreach($column in $inputBean.columns)
#putColumnParamNaming()
		${sddInputBeanVariable}.set$columnClass ($columnVar);
#end
#end
        List<$sddOutputBeanClass> list = ${springBootJdbcTemplateRepositoryVariable}.execute
            (
#if($isNotVoidInput)
                ${sddInputBeanVariable}
#end
#foreach($queryChunk in $query.getQueryChunks())
#set($chunkClass=$formatUtils.getJavaName($queryChunk.name))
#set($chunkVar=$commonUtils.getJavaNameVariableFirstLetter($chunkClass))
#if(!$isNotVoidInput && $velocityCount==1)
                $chunkVar
#else
                ,$chunkVar
#end
#end
            );
        HttpHeaders responseHeaders = new HttpHeaders();
        return new ResponseEntity<>(list, responseHeaders, HttpStatus.OK);
    }

}
