<?xml version='1.0' encoding='utf-8'?>
<Context>
    <!-- use embedded context for test only, such as docker-compose build stack -->
    <!-- <WatchedResource>WEB-INF/web.xml</WatchedResource>-->
#foreach ($model in $configuration.models())
#parse("TomcatJndiConnectionPoolSnippet.vm")
#end

</Context>
