#macro(chunkInfo)
#set($chunkName=$javaUtils.getJavaVariableNaming($queryChunk.name))
#set ($enumName = $formatUtils.getJavaName("${query.name}_${queryChunk.name}"))
#end
#macro(graphqlQueryMutationType $isWrite)
#foreach ($package in $model.getStatementModel().getSddPackage().getQueryPackages())
#set($pureQueries=$package.getPureQueries($isWrite))
#if($pureQueries.size()>0)
    """
    Package $package.name
    """
#end
#foreach ($query in $pureQueries)
#putImportQuerySDDBean()
#exposeQuerySpecific()
#set($table=$query.inputBean)
#exposeVariableEntitySpecific()
#putImportSDDInputBean()
#if($isNotVoidInput || $query.getQueryChunks().size() > 0)
    ${tableVariableName}(
##foreach($column in $inputBean.columns)
#set($columnList = $tableUtils.getColumnsNotDuplicatedNorImplicitNorOutputOnly($inputBean))
#foreach($column in $columnList)
##if (!$column.hasBeenDuplicated())
#putColumnParamNaming()
        $columnVar:$graphqlUtils.convertColumnType($column)#if($column.isRequired())!#end #if ($velocityCount!=$columnList.size()),
##end
#end
#end
#foreach($queryChunk in $query.getQueryChunks())
#chunkInfo()
        $chunkName:${enumName}
#end

    ): [${sddOutputBeanClass}]
#else
    ${tableVariableName}: [${sddOutputBeanClass}]
#end
#foreach ($pivot in $query.pivots)
#set($pivotClass = $formatUtils.firstUpperCase($pivot.name))
#set($pivotClasses = $i18nUtils.plurialize($pivotClass))
    ${tableVariableName}${pivotClasses} (
##foreach($column in $inputBean.columns)
#set($columnList = $tableUtils.getColumnsNotDuplicatedNorImplicitNorOutputOnly($inputBean))
#foreach($column in $columnList)
##if (!$column.hasBeenDuplicated())
#putColumnParamNaming()
        $columnVar:$graphqlUtils.convertColumnType($column)#if($column.isRequired())!#end #if ($velocityCount!=$columnList.size()),
##end
#end
#end

    ): [${tableClassName}${pivotClass}]
#end
#end
#end
#end
#exposeEmberModelSpecific()
schema {
## sdd queries
    query: Query
## check what to do with composite queries
#if ($graphqlUtils.hasMutation($model))
    mutation: Mutation
#end
}

scalar Date
scalar DateTime
scalar Timestamp

type Query {
#graphqlQueryMutationType(false)
}

#if ($graphqlUtils.hasMutation($model))
type Mutation {
#graphqlQueryMutationType(true)
}
#end

#foreach ($package in $model.getStatementModel().getSddPackage().getQueryPackages())
#set($pureQueries=$package.getPureQueries())
#foreach ($query in $pureQueries)
#foreach($queryChunk in $query.getQueryChunks())
#chunkInfo()
enum ${enumName} {
#foreach($queryChunkValue in $queryChunk.queryChunkValues)
#set($chunkValueName=$javaUtils.getJavaVariableNaming($queryChunkValue.name))
    $queryChunkValue.value
#end
}
#end
#end
#end

#foreach ($package in $model.getStatementModel().getSddPackage().getQueryPackages())
#set($pureQueries=$package.getPureQueries())
#if($pureQueries.size()>0)
    """
    Package $package.name
    """
#end
#foreach ($query in $pureQueries)
#putImportQuerySDDBean()
#exposeQuerySpecific()
#set($table=$query.outputBean)
#exposeVariableEntitySpecific()
#putImportSDDBean()

type ${sddOutputBeanClass} {
#foreach($column in $outputBean.columns)
#putColumnParamNaming()
#if ($column.getSeparatorCharacters())
#putColumnParamNaming()
    $columnVar:[${sddOutputBeanClass}$columnClass]
#else
    $columnVar:$graphqlUtils.convertColumnType($column)#if($column.isRequired())!#end

#end
#end
}

#foreach($column in $outputBean.columns)
#if ($column.getSeparatorCharacters())
#putColumnParamNaming()
type ${sddOutputBeanClass}$columnClass {
#foreach($field in $column.structuredArray)
#set($fieldType = $convertUtils.getJavaTypeFromDBType($convertUtils.getDBFullTypeFromUMLType($field.type)))
#set($fieldVariable = $javaUtils.getJavaVariableNaming($commonUtils.getJavaVariableName($field.name)))
    $fieldVariable:$fieldType
#end
}
#end
#end

#foreach ($pivot in $query.pivots)
#set($pivotClass = $formatUtils.firstUpperCase($pivot.name))
#set($pivotClasses = $i18nUtils.plurialize($pivotClass))
    """ pivot $pivotClass """
type $tableClassName$pivotClass {
#foreach ($column in $pivot.getColumnList())
#putColumnParamNaming()
    $columnVar: $graphqlUtils.convertColumnType($column)
#end
#foreach ($sibling in $pivot.getSiblings())
#set($siblingClass = $formatUtils.firstUpperCase($sibling.name))
#set($siblingName = $i18nUtils.plurialize($sibling.name))
    $siblingName: [$tableClassName$siblingClass]
#end
}
#end

#end
#end
