#exposeQuerySpecific()
package $packageName;

import java.util.Arrays;
import lombok.AllArgsConstructor;
import lombok.Getter;

@AllArgsConstructor()
@Getter
public enum $className {

#foreach ($row in $query.queryRows)
#set($semRef=$queryUtils.getSemanticReference($query, $row))
#set($rowSize=$row.queryOutputValues().size())
    $formatUtils.replaceNonAlphaNumWith_AndUpperCase(${semRef.stringValue()}) (
#foreach ($outputValue in $row.queryOutputValues())
     "${outputValue.stringValue()}"#if ($rowSize!=$velocityCount),
#end
#end
        )#if( $velocityHasNext ),
#end
#end

    ;

#set($firstRow=$query.queryRows.get(0))
#set($semRefFirstRow=$queryUtils.getSemanticReference($query, $firstRow))
#set($semRefFirstRowVar=$formatUtils.getJavaNameVariable(${semRefFirstRow.columnName()}))
#foreach ($outputValue in $firstRow.queryOutputValues())
#set($typeEnum = $columnUtils.getDBTypeMapEnum($semRefFirstRow.columnType()))
    private final ${typeEnum.className} $formatUtils.getJavaNameVariable(${outputValue.columnName()});
#end

    public static ${className} of(String $semRefFirstRowVar) {
        return Arrays.stream(${className}.values())
            .filter(er -> er.${semRefFirstRowVar}.equals($semRefFirstRowVar))
            .findFirst()
            .orElse(null);
## or __NONE
    }


}
