#macro (exposeSpringEuCommTemplate)
#set ($templateSbEuloginJ2eePreAuthenticatedProcessingFilter = "SpringBoot.eulogin.J2eePreAuthenticatedProcessingFilter")
#set ($templateSbEuloginSecurityConfiguration = "SpringBoot.eulogin.SecurityConfiguration")
#set ($templateSbEuloginUserDetailsServiceWrapper = "SpringBoot.eulogin.UserDetailsServiceWrapper")
#set ($templateSbEuloginWebMvcConfiguration = "SpringBoot.eulogin.WebMvcConfiguration")
#set ($templateSbTomcatSecurityWithEcasAuthenticator = "SpringBoot.tomcat.SecurityWithEcasAuthenticator")
#set ($templateSbEuloginGlobalRole = "SpringBoot.global.Role")
#set ($templateUserDetailsExtraGroupHandler = "Eulogin.UserDetailsExtraGroupHandler")
#set ($templateSbEuloginGrantedAuthority = "SpringBoot.eulogin.GrantedAuthority")
#set ($templateSbEuloginUserDetails = "SpringBoot.eulogin.UserDetails")
#set ($templateSbEuloginSpringContextHolder = "SpringBoot.eulogin.SpringContextHolder")
#end

#macro(exposeSpringEuCommTemplateSpecific)
#exposeSpringEuCommTemplate()
#set($euloginGlobalRoleClass=$commonUtils.getTemplateClassName($model, $template, $templateSbEuloginGlobalRole))
#set($euloginGlobalRoleVariable=$commonUtils.getJavaNameVariableFirstLetter($euloginGlobalRoleClass))
#set($euloginGlobalRoleImport=$commonUtils.getEntityLevelTemplateFullPath($model, $template, $templateSbEuloginGlobalRole))
#set($euloginUserDetailsICV=$commonUtils.getJavaImportClassVariable($model, $template, $templateSbEuloginUserDetails))
#set($userDetailsExtraGroupHandlerImport=$commonUtils.getLevelTemplateFullPath($model, $template, $templateUserDetailsExtraGroupHandler))
#set($euloginSpringContextHolderICV=$commonUtils.getJavaImportClassVariable($model, $template, $templateSbEuloginSpringContextHolder))
#end
