#generatorSpecific()
#exposeSpringEuCommTemplateSpecific()
#exposeVariableApplicationSpecific()
#exposeSpringBootTemplate()
#templateCommonDefinitionV2()
#set($hasUserGlobalRoleQuery=$modelUtils.hasUserGlobalRoleQuery($model))
#set($userGlobalRoleQuery=$modelUtils.getFirstUserGlobalRoleQuery($model).get())
#set($userGlobalRoleJdbcTemplate = $queryUtils.getJavaImportClassVariable($model,$userGlobalRoleQuery.name,$template,$templateSpringJdbcTemplateRepository))
#set($userGlobalRoleJavaInput = $queryUtils.getJavaImportClassVariableForInput($model,$userGlobalRoleQuery.name,$template,$templateSDDInputBean))
#set($userGlobalRoleJavaOutput = $queryUtils.getJavaImportClassVariableForOutput($model,$userGlobalRoleQuery.name,$template,$templateSDDOutputBean))
package $packageName;

import eu.cec.digit.ecas.client.validation.AbstractUserDetailsExtraGroupHandler;
import eu.cec.digit.ecas.client.validation.DetailedAuthenticationSuccess;
import eu.cec.digit.ecas.client.validation.ExtraGroupHandlingException;
import ${euloginSpringContextHolderICV.importV()};
import lombok.extern.slf4j.Slf4j;

import java.util.ArrayList;
import java.util.List;

#if ($hasUserGlobalRoleQuery)
import $userGlobalRoleJdbcTemplate.importV();
import $userGlobalRoleJavaInput.importV();
import $userGlobalRoleJavaOutput.importV();
#end

/**
 * EU Login extra group handler.
 *
 * This class is intended to map the received UserPrinciple from EU Login with your own custom roles and groups.
 * It can contain custom calls to local DAOs to fetch additional information. To implement to your own liking.
 */
 @Slf4j
public class $className extends AbstractUserDetailsExtraGroupHandler {
    private static final long serialVersionUID = -8478234494646131098L;

    /**
     * Callback invoked by ECAS to obtain groups.
     */
    @Override
    public List<String> getGroups(DetailedAuthenticationSuccess detailedAuthenticationSuccess) throws ExtraGroupHandlingException {
        log.info(">>>>> detailedAuthenticationSuccess: "+detailedAuthenticationSuccess);
        final List<String> groups = new ArrayList<>();

        // Simplistic user/group assignment, based on domain username (whitelist of users)
        final List assignedGroups = detailedAuthenticationSuccess.getGroups();

        if (null == assignedGroups || assignedGroups.isEmpty()) {
            throw new ExtraGroupHandlingException("Not allowed on this section when you don't have any groups");
        }

#if($hasUserGlobalRoleQuery)
        // Add roles from the database using ${globalRoleQuery.name}
        String userLogin = detailedAuthenticationSuccess.getDomainUsername();
        try {
            $userGlobalRoleJdbcTemplate.classV() userGlobalRoleJdbcTemplate = ${euloginSpringContextHolderICV.classV()}.getBean(${userGlobalRoleJdbcTemplate.classV()}.class);

            $userGlobalRoleJavaInput.classV() input = new $userGlobalRoleJavaInput.classV() ();
            input.setUserLogin(userLogin);

            List<$userGlobalRoleJavaOutput.classV()> dbRoles = ${userGlobalRoleJdbcTemplate.variableV()}.execute(input);
            for ($userGlobalRoleJavaOutput.classV() dbRole : dbRoles) {
                if (dbRole.getRole() != null && !groups.contains(dbRole.getRole())) {
                    groups.add(dbRole.getRole());
                }
            }
            log.info("Database roles for {}: {}", userLogin, dbRoles);
        } catch (Exception e) {
            log.warn("Could not fetch database roles for user {}: {}",
                    userLogin, e.getMessage());
        }
#end
        log.info("Assigning groups to {}: {}", userLogin, groups);

        return groups;
    }
}
