#generatorSpecific()
#exposeVariableApplicationSpecific()
#exposeSpringEuCommTemplateSpecific()
#templateCommonDefinitionV2()
#set($globalRoleQuery=$modelUtils.getFirstGlobalRoleQuery($model).get())
#set($hasGlobalRoleQuery = $modelUtils.hasGlobalRoleQuery($model).get())
#set($userGlobalRoleJavaOutput = $queryUtils.getJavaImportClassVariableForEnum($model,$globalRoleQuery.name,$template,"SDDEnumMasterData"))
package $packageName;

import eu.cec.digit.ecas.client.j2ee.tomcat.EcasAuthenticator;
##import $euloginGlobalRoleImport;
import org.apache.tomcat.util.descriptor.web.SecurityCollection;
import org.apache.tomcat.util.descriptor.web.SecurityConstraint;
import org.springframework.boot.autoconfigure.condition.ConditionalOnClass;
import org.springframework.boot.web.embedded.tomcat.TomcatServletWebServerFactory;
import org.springframework.boot.web.server.WebServerFactoryCustomizer;
import org.springframework.context.annotation.Configuration;
#if ($userGlobalRoleJavaOutput)
import $userGlobalRoleJavaOutput.importV();
#end
/**
 * This class helps customising the default embedded Tomcat server bootstrapped by Spring Boot to add the EcasAuthenticator and describe the various URLs to protect.
 */
@ConditionalOnClass(name = "eu.cec.digit.ecas.client.j2ee.tomcat.EcasAuthenticator")
@Configuration
public class $className implements WebServerFactoryCustomizer<TomcatServletWebServerFactory> {

    @Override
    public void customize(TomcatServletWebServerFactory container) {
        container.addContextValves(newEcasAuthenticator());
        container.addContextCustomizers(context -> {
            // Unfortunately, we have to kind of replicated HttpSecurity description of public / restricted pages
            context.addConstraint(buildNonEuLoginSecurityConstraint());
            context.addConstraint(buildEuLoginSecurityConstraint());
            //$globalRoleQuery
#if($userGlobalRoleJavaOutput)
            for ($userGlobalRoleJavaOutput.classV() role : ${userGlobalRoleJavaOutput.classV()}.values()) {
#set($column = $queryUtils.getQueryFirstOutputColumn($globalRoleQuery))
#putColumnParamNaming()
                context.addSecurityRole(role.get$columnClass());
            }
#else
            log.error("a query with is-global-role='true' must be configured!"
#end
        });
    }

    private SecurityConstraint buildNonEuLoginSecurityConstraint() {
        final SecurityCollection collection = new SecurityCollection("public", "public");
        collection.addPattern("/");

        final SecurityConstraint securityConstraint = new SecurityConstraint();
        securityConstraint.addCollection(collection);

        return securityConstraint;
    }

    private SecurityConstraint buildEuLoginSecurityConstraint() {
        final SecurityCollection collection = new SecurityCollection("all", "all");
        collection.addPattern("/admin/*");
        collection.addPattern("/swagger-ui/*");
        collection.addPattern("/graphiql/*");
        collection.addPattern("/view");

        final SecurityConstraint securityConstraint = new SecurityConstraint();
        securityConstraint.addAuthRole(SecurityConstraint.ROLE_ALL_ROLES);
        securityConstraint.setAuthConstraint(true);
        securityConstraint.addCollection(collection);

        return securityConstraint;
    }

    private EcasAuthenticator newEcasAuthenticator() {
        return new EcasAuthenticator();
    }
}
